.hero {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .para {
    font-family: Courgette;
    font-size: 33px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: left;
    margin-top: 60px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 250px;
  }
  
  .heading {
    font-family: Cinzel;
    font-size: 33px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
  }
  
  .btn {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    padding: 12px 60px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 20px;
    color: #fff;
    background-color: rgba(64, 82, 106, 1);
  }
  
  @media screen and (max-width: 1200px) {
    .hero {
      height: 400px;
    }
  
    .para {
      margin-top: 160px;
    }
  
    .btn {
      padding: 12px 50px;
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .hero {
      height: 360px;
    }
  
    .para {
      font-size: 28px;
      margin-top: 140px;
    }
  
    .heading {
      font-size: 28px;
    }
  
    .btn {
      font-size: 14px;
      padding: 12px 40px;
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .hero {
      height: 300px;
    }
  
    .para {
      font-size: 24px;
      margin-top: 100px;
    }
  
    .heading {
      font-size: 24px;
      text-align: center;
      line-height: 35px;
      padding: 0 20px;
    }
  
    .btn {
      font-size: 12px;
      padding: 8px 60px;
      margin-top: 10px;
    }
  }
  